tags
.*.sw?

bin/
foltia.sqlite*
*.txt

perl/tool/MP4Box
perl/tool/TsSplitter.exe
perl/tool/TsSplitter123.exe
perl/tool/TsSplitter126.exe
perl/tool/TsSplitter128.exe
perl/tool/b25
perl/tool/epgdump
perl/tool/hdusrec
perl/tool/neroAacDec
perl/tool/neroAacEnc
perl/tool/neroAacTag
perl/tool/recpt1
perl/tool/recpt1ctl
perl/tool/rtmpdump
perl/tool/BonTsDemuxC.exe
perl/tool/MSVCP90.dll
perl/tool/faac
perl/tool/ffmpeg
perl/tool/mfc90u.dll
perl/tool/tssplitter_lite
perl/tool/mplayer

php/tv

php/foltia_config2.php
perl/foltia_conf1.pl

